.el-button {
  border: 1px solid $themeBg;
}

.el-button--primary {
  background-color: $themeBg;
  border-color: $themeBg;
}

.el-button:focus,
.el-button:hover {
  color: #fff;
  background-color: #87a612;
  border-color: $themeBg;
}

.login-bg {
  //background-image: url("/src/assets/img/login/login-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // opacity: 0.3;
}

.nav {
  height: 39px;
  background-color: #ffffff;
  box-shadow: 0px 1px 9px 1px rgba(8, 1, 3, 0.39);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .small-logo {
    width: 23px;
    height: 25px; //font-size: 28px;
    position: relative;
    top: 6px;
    left: 15px;
  }
}

.login-panel {
  width: 510px;
  height: 320px;
  background-color: #ffffff;
  box-shadow: 0px 1px 9px 1px rgba(8, 1, 3, 0.39);
  border-radius: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: $fontSizeDefault;

  .tab-login-option {
    text-align: center;
    margin-top: 19px;

    .tab-title {
      font-size: $fontSize14;
      color: #333;
      font-weight: bold;
      height: 32px;
    }
  }

  .login-form {
    margin-top: 25px;
    padding: 0 45px;

    .form-row {
      border-bottom: 1px solid $borderColor1;
      display: flex;
      align-items: center;
      height: 50px;
      padding-bottom: 12px;

      .form-title {
        width: 60px;
        line-height: 50px;
      }

      .form-input {
        height: 30px;
        line-height: 30px;
        width: 300px;
        flex: 1;
        border: 0;
        outline: 0;

        &::placeholder {
          color: $color;
        }
      }

      .form-icon {
        line-height: 50px;
        font-size: $fontSize18;
      }

      .form-icon-check{
        color: $themeBg;
      }

      .iconClass {
        font-size: $fontSize18;
      }
    }

    .password {
      margin-top: 10px;
      text-align: right;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: $color;

      .left {
        text-align: left;

        a {
          color: $themeBg;
        }
      }

      .right {
        text-align: right;
      }
    }

    .btn-login {
      margin-top: 30px;
    }

    .sendmsg {
      padding: 0 10px;
      height: 30px;
      background-color: #e8e9e1;
      border-radius: 3px;
      line-height: 30px;
      vertical-align: middle;
      text-align: center;
      margin-top: 10px;
      cursor: pointer;
    }

    .timer {
      padding: 0 10px;
      height: 30px;
      border-radius: 3px;
      line-height: 30px;
      vertical-align: middle;
      text-align: center;
      margin-top: 10px;
      cursor: pointer;
      color:$themeBg;
    }

    .to-login {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 700;
      color: #666;

      a {
        color: $themeBg;
      }
    }

    /deep/ .el-step__title {
      font-size: $fontSizeDefault
    }
  }
}

.strength {
  position: relative;
  top: 20px;
}

.i-class {
  line-height: 50px;
  font-size: 18px;
  position: absolute;
  width: 40px;
  height: 48px;
  right: 26px;
  background: #fff;
}
