//Layout
$bg: #2d2e3c;
//sidebar
$menuBg: #304156;
$subMenuBg: #1f2d3d;
$menuHover: #001528;
$menuHeight: 50px;
$menuSubHeight: 40px;
$menuOpenBg: #242530;

// navBar
$navBarBg: #ffffff;
$navBarColor: #373841;
$navBarFontSize: 12px;


// themeBg
$themeBg: #96b327;
$themeBg-96b327: #96b327;

// 蓝色主题色
$themeBg-083886: #083886;
$themeBg-083886-1: #2265d2;
$themeBg-083886-2: #64b5f6;
$themeBg-083886-3: #5c6bc0;
$themeBg-083886-menu: #1b488f;
$themeBg-083886-bg: rgba(8,56,123,0.1); // 带透明的背景色
$themeBg-applySubmit: #2265d2;
$themeBg-applyAther: #64b5f6;

//红色主题色
$themeBg-e53935:#e53935;
$themeBg-e53935-1: #892220;
$themeBg-e53935-2:#ef8886;
$themeBg-e53935-3: #fad7d7;
$themeBg-border-1:#e0e0e0;
$themeBg-e53935-menu:$bg;


$bgcGray: #fafafa;
$mainBg: #f1f2f6;
$tabBg: #f5f6ef; // wei
$itemBg: #f9f9f9; // wei
$tableBg: #edeef0; // wei

// fontSize
$fontSizeDefault: 12px;
$fontSize14: 14px;
$fontSize15: 15px;
$fontSize16: 16px;
$fontSize18: 18px;

// font-color
$color: #2d2e3c;
$colorLink: #65676d;
$wordColor: #333333;
$wordColor1: #666;
$titleColor: #999999;
$textColor: #fb762b; // wei
$textColor1: #fbab4a; // wei
$totalNumber: #f56c6c;
$textColor1: #fbab4a;
$textColor2: #f56c6c;
$textColor3: #c0c4cc;
$iconDetail: #93af24; // 列表详情icon
$iconEdit: #6da7e8; // 列表编辑icon
$iconDelete: #fe5c5c; // 列表删除icon
$iconMore: #6da7e8; // 列表三个点icon
$iconLock: #ff762c; // 列表锁定icon
$iconOpen: #93af24; // 列表开锁icon
$iconRoundLock: #fe5c5c; // 列表带圆圈锁icon
$iconLook: #6da7e8; // 列表闹钟icon
$iconSet: #93af24; // 列表设置icon
$iconTodo: #6da7e8; // 列表操作icon
$iconBack: #ff762c; // 列表撤回icon
$iconDisable: #bfbfbf; // 列表禁用icon
$inputDisable:#f5f7fa; // 输入框禁用
// 禁用字体色
$readOnlyFont: #777777;


// border-color

$borderColor: #ededed;
$borderColor1: #e4e4e4;
$borderColor2: #a8b6c5; // wei
$borderColor3: #e8e8e8;
$borderColor4: #ececec;
// 禁用背景色
$readOnlybgc: #f5f7fa;


// background-color
$bgcWhite:#fff;
$bgcSelect:#f8f8fa;
$bgcTab:#f1f3e8;
$bgcSearch:#f2f3f5;

// height
$tableHeight: 34px; // wei
$rowHeight: 60px; // wei
