/** 2019/2/18
 * @Author: 刘宇琳
 * @Desc: flex布局
 */
@mixin center($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
@mixin flex($direction: row, $inline: flex, $flexWrap: wrap, $justifyContent: space-between, $align-items: center) {
  display: $inline;
  flex-direction: $direction;
  flex-wrap: $flexWrap;
  justify-content: $justifyContent;
  align-items: $align-items;
}

/** 2019/2/18
 * @Author: 刘宇琳
 * @Desc: 多行超出省略号
 */
@mixin ell2() {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/** 2019-02-28
 * @Author: 刘宇琳
 * @params: $width 判断宽度是否要显示100%
 * @Desc: 高度为44px的容器
 */
@mixin containerH44($fontSize: 12px, $color: #212121, $width: true) {
  height: 44px;
  line-height: 44px;
  font-size: $fontSize;
  color: $color;
  @if($width) { width: 100% };
}
