$base-url: #3d5afe;
// themeBg
$themeBg: #96b327;
$mainBg: #f5f5f5;

$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize18: 18px;

// font-color
$color: #2d2e3c;

$borderColor1: #e4e4e4;
